rules:
  # Images
  - locations: "~/Downloads"
    subfolders: false
    filters:
      - extension:
          - jpg
          - jpeg
          - png
          - gif
          - bmp
          - svg
          - webp
          - ico
          - tiff
          - heic
    actions:
      - move: "~/Downloads/Images/"

  # Documents
  - locations: "~/Downloads"
    subfolders: false
    filters:
      - extension:
          - pdf
          - doc
          - docx
          - txt
          - rtf
          - odt
          - pages
    actions:
      - move: "~/Downloads/Documents/"

  # Spreadsheets
  - locations: "~/Downloads"
    subfolders: false
    filters:
      - extension:
          - xls
          - xlsx
          - csv
          - ods
          - numbers
    actions:
      - move: "~/Downloads/Spreadsheets/"

  # Presentations
  - locations: "~/Downloads"
    subfolders: false
    filters:
      - extension:
          - ppt
          - pptx
          - key
          - odp
    actions:
      - move: "~/Downloads/Presentations/"

  # Videos
  - locations: "~/Downloads"
    subfolders: false
    filters:
      - extension:
          - mp4
          - avi
          - mov
          - mkv
          - flv
          - wmv
          - webm
          - m4v
          - mpeg
    actions:
      - move: "~/Downloads/Videos/"

  # Audio
  - locations: "~/Downloads"
    subfolders: false
    filters:
      - extension:
          - mp3
          - wav
          - flac
          - aac
          - ogg
          - m4a
          - wma
    actions:
      - move: "~/Downloads/Audio/"

  # Archives
  - locations: "~/Downloads"
    subfolders: false
    filters:
      - extension:
          - zip
          - rar
          - 7z
          - tar
          - gz
          - bz2
          - xz
          - iso
    actions:
      - move: "~/Downloads/Archives/"

  # Code
  - locations: "~/Downloads"
    subfolders: false
    filters:
      - extension:
          - py
          - js
          - html
          - css
          - java
          - cpp
          - c
          - go
          - rs
          - php
          - rb
          - swift
          - kt
          - ts
          - jsx
          - tsx
          - vue
          - json
          - xml
          - yaml
          - yml
    actions:
      - move: "~/Downloads/Code/"

  # Executables/Installers
  - locations: "~/Downloads"
    subfolders: false
    filters:
      - extension:
          - exe
          - msi
          - dmg
          - pkg
          - deb
          - rpm
          - appimage
          - apk
    actions:
      - move: "~/Downloads/Installers/"

  # eBooks
  - locations: "~/Downloads"
    subfolders: false
    filters:
      - extension:
          - epub
          - mobi
          - azw
          - azw3
    actions:
      - move: "~/Downloads/eBooks/"

  # Markdown
  - locations: "~/Downloads"
    subfolders: false
    filters:
      - extension:
          - md
          - markdown
    actions:
      - move: "~/Documents/obsidian/Backlog/"
