matches:
  - regex: ":ml (?P<label>.*):"
    replace: "[{{label}}]({{clip}})"
    vars:
      - name: "clip"
        type: "clipboard"
  - trigger: ":shell"
    replace: "{{output}}"
    vars:
      - name: output
        type: shell
        params:
          cmd: echo Hello from your shell
  - trigger: "::p"
    replace: "{{output}}"
    vars:
      - name: output
        type: shell
        params:
          cmd: "pbpaste -o | tr ' ' '-'"
  - trigger: ":low"
    replace: "{{output}}"
    vars:
      - name: "clipboard"
        type: "clipboard"
      - name: output
        type: shell
        params:
          cmd: "echo $ESPANSO_CLIPBOARD | tr '[:upper:]' '[:lower:]'"
  - trigger: ":up"
    replace: "{{output}}"
    vars:
      - name: "clipboard"
        type: "clipboard"
      - name: output
        type: shell
        params:
          cmd: "echo $ESPANSO_CLIPBOARD | tr '[:lower:]' '[:upper:]'"
  - trigger: ":ss"
    replace: ([\S\s]+)
  - regex: ":nw (?P<link>.*):"
    replace: "https://nick.wf/{{link}}"
    vars:
      - name: copy
        type: shell
        params:
          cmd: "echo 'https://nick.wf/{{link}}' | pbcopy"
